<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center words"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<h2>You found </h2>
<p id="results"></p>
<p id="response"></p>


 </div> <!-- container -->
 <script> 
	var jumble = "{{session.jumble}}"
console.log(jumble)
	 $("#entry").submit( function(event) {
		 event.preventDefault();
	 });
$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();
   var keycode = event.which; 
   var letter = String.fromCharCode(keycode);

   if (! jumble.toUpperCase().includes(letter) && 
	   "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { 
	   $("#attempt").val(txt.slice(0,-1))
	   return 
   }

   $.getJSON( "/_check", { text: txt }, 
              function(data) {
		if (data.redirect !== false) {
			window.location.href = data.redirect
			return
		}
                rsval = data.result;
                console.log("rsval: " + rsval)
		$("#response").html(data.msg);
                if (rsval) {
                   $("#attempt").val("");
                }
                showMatches(data.matches);
		updateWords(txt, data.matches);
               }
           );
   });
   function showMatches(matches) {
	   $("#results").html(matches.join(" "))
   }

  function updateWords(attempt, matches) {
	  var words = $(".words")
	  for (var i=0; i < words.length; i++) {
		  var elmt = words[i]
		  var word = elmt.innerText.trim()
		  elmt.classList.remove("bold")
		  if (matches.indexOf(word) !== -1) {
			  elmt.classList.add("strike")
		  } else if (word.startsWith(attempt) && 
			     attempt !== "") {
			  elmt.classList.add("bold")
		  }
	  }
  }
	

 </script>
</body> </html>
